.section {
  @media screen and (max-width: 969px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media screen and (min-width: 970px) {
    padding-top: 110px;
    padding-bottom: 110px;
  }
}
