/* основной цвет текста #070707  */
/* вторичый цвет текста #828282 */
/* вторичный цвет фона #F6F6F6 */

:root {
  --primary-text-color: #070707;
  --secondary-text-color: #828282;
  --secondary-bg-color: #f6f6f6;
}
